{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                        <h4>Our Mission</h4>
                        <p>Our mission is to provide our customers with the best-in-class televisions that combine cutting-edge technology, stunning visuals, and seamless performance. We strive to make every viewing experience immersive, enjoyable, and memorable.</p>
                        <p>We are committed to innovation, quality, and customer satisfaction, ensuring that every product we deliver meets the highest standards of excellence.</p>
                    </div>

                       <div class="about-details-cap mb-50">
                        <h4>Our Vision</h4>
                        <p>Our vision is to become the leading destination for high-quality televisions, offering products that combine innovation, exceptional performance, and stunning visuals. We aim to redefine the home entertainment experience for every customer.</p>
                        <p>We aspire to create a world where every viewer enjoys the perfect picture, immersive sound, and seamless technology, making entertainment more engaging and memorable than ever before.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Details End -->
        <!--? Video Area Start --
        <div class="video-area mb-100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                    <div class="video-wrap">
                        <div class="play-btn "><a class="popup-video" href="https://www.youtube.com/watch?v=KMc6DyEJp04"><i class="fas fa-play"></i></a></div>
                    </div>
                    </div>
                </div>
                <!-- Arrow --
                <div class="thumb-content-box">
                    <div class="thumb-content">
                        <h3>Next Video</h3>
                        <a href="#"> <i class="flaticon-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Area End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>“Get your new TV delivered to your doorstep at no extra cost — fast, reliable, and hassle-free.”</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>“Shop with confidence knowing your payment is fully protected with the latest security measures.”</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Safe Dlivery and Return</h6>
                                <p>“We ensure your TV arrives safely, carefully packaged, and in perfect condition.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>
  {% endblock %}