{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 mb-5">
    <h1 class="text-center mb-3">Contact Us</h1>
    <p class="text-center mb-5">We'd love to hear from you</p>

```
<div class="row justify-content-center">
    <div class="col-md-4 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-3" style="flex-shrink:0;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                </svg>
            </div>
            <div>
                <h5>Address</h5>
                <p>123 Business Street<br>Suite 100<br>Tamil Nadu, TN 10001</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-3" style="flex-shrink:0;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
                </svg>
            </div>
            <div>
                <h5>Phone</h5>
                <p>7890542390</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-3" style="flex-shrink:0;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                </svg>
            </div>
            <div>
                <h5>Email</h5>
                <p>unikart@gmail.com</p>
            </div>
        </div>
    </div>
</div>
```

</div>
{% endblock %}
